<form>
    <div style="float:left">
        <h1>スクリプトのテスト</h1>
        <h2>固定データの読み込みとか、選択とかのサンプル</h2>

        <div class="hoge" style="display:none">
            <div class="title">
                <span class="name"></span>
                <span class="code"></span>
            </div>
            <div class="image">
                <img class="preview"/>
            </div>
        </div>

        <div class="piyo" style="display:none">
            <input name="select-size" type="radio"><span class="select-caption"></span>
        </div>
        
        <h2>カーテンの種類</h2>
        <div id="dest">
        </div>
        
        <br/><br/>
        
        <h2>カーテンの丈</h2>
        <div id="dest-select">
        </div>
    </div>

    <div id="navi" style="float:left;position:relative;">
        <div class="selected_title">選択しているもの</div>
        <h3>カーテンの種類</h3>
        <div class="selected_item"></div>
        <h3>カーテンのサイズ</h3>
        <div class="selected_size"></div>        
    </div>


    <div style="clear:both"></div>

    <div style="text-align:center;width:100%;padding-top:20px;padding-bottom:20px">
        <input style="width:300px" name="checkout" type="button" value="注文？" ></input>
    </div>
</form>